
    #level_two_section .game_card_area{
        margin-top: 80px;
        position: relative;
    }

    #level_two_section .game_card_label{
        position: absolute;
        left: 0;
        top: -40px;
        z-index: -1;
        background-color: #1CB0F6;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 600;
        min-width: 100px;
        padding: 0 15px;
        line-height: 40px;
        min-height: 50px;
        color: #fff;
    }

    #level_two_section .game_card_btn{
        position: absolute; top: -40px; right: 0; width: 83px; height: 36px; border: 2px solid #E5E5E5; border-radius: 8px; box-shadow: 0px 2px 0px 0px #E5E5E5; display: flex; align-items: center; justify-content: center;
        display: none;
    }
    #level_two_section .game_card_btn p{
        font-weight: 600; font-size: 14px;
    }

    #level_two_section .game_card_btn.error.active{
        background-color: #CBCCCC;
    }

    #level_two_section .game_card_btn.on{
        display: flex;
    }
    #level_two_section .game_card_btn__reset:active{
        margin-top: 3px;
    }

    #level_two_section .game_card{
        width:100%; 
        background: #FEFEFE;
        border-radius: 16px;
        border-top-left-radius: 0;
        padding: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
        align-content: flex-start;
        position: relative;
        z-index: 2;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0px 10px 0px 0px #BBEAFD;
        border: 2px solid #E5E5E5;
    }

    #level_two_section .game_card_inner{
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 0;
        column-gap: 0;
    }
    #two-lyrics-display.success .game_card_inner{
        column-gap: 6px;
    }

    #two-lyrics-display.wrong .game_card_inner{
        column-gap: 6px;
    }
    #level_two_section .game_card_basket_line{
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 150px;
        /* 이 높이는 game_card 높이와 동일해야 함 js로 처리할 예정 */
        background-color: #000;
        z-index: 1;
        opacity: 0.1;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    #level_two_section .game_card .text{
        height: 30px;
    }
    #level_two_section .game_card .text.filled{
        min-width: auto;
        /* padding:  0 10px; */
        padding-right: 10px;
    }
    #level_two_section .game_card_basket{
        background-color: #D7F4FE;
        width: 100%;
        height: 0;
        overflow: hidden;
         border-radius: 16px;
        transform: translateY(0);
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }
    #level_two_section .game_card_basket.on{
        transform: translateY(-10px);
        opacity: 1;
        height: auto;
        visibility: visible;
        max-height: 230px;
        overflow-y: auto;
        padding: 30px 10px;
        padding-top: 40px;
        position: relative;
    }
    
    #level_two_section .game_card_basket.fail{
        border-top-right-radius: 0;
        background-color: #FFCFD5;
        position: relative;
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding: 0;
        min-height: 0;
    }
    #level_two_section .game_card_basket.fail.on{
        opacity: 1;
        visibility: visible;
        height: auto;
        padding: 15px;
        min-height: 180px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    #level_two_section .game_card_basket.fail .img_character{
        width: 100px;
        height: auto;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }

    #level_two_section.success .game_card{
        background-color: #F6FFD0;
        border: 2px solid #B1D32C;
        box-shadow: 0px 10px 0px 0px #8DC04540;
    }
    #level_two_section.success .game_card_basket{
        background-color: #D4E980;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-height: 330px;
    }
    #level_two_section.success .game_card_label{
        background-color: #B1D32C;
        color: #333;
        border: 2px solid #B1D32C;
    }

    #level_two_section.success .game_card .text.filled{
        background: #FFFFFF;
        border: 1.5px solid #E5E5E5;
        box-shadow: 0px 2px 0px 0px #E5E5E5;
    }

    #level_two_section.failed .game_card_label{
        background-color: #FF9EAB;
        color: #333;
    }
    #level_two_section.failed .game_card{
        background-color: #FFE7EA;
        box-shadow: 0px 10px 0px 0px #FF9EAB66;
        border: 4px solid #FF9EAB;
        column-gap: 10px;
        padding: 10px;
    }
    #level_two_section.failed .game_card_basket{
        background-color: #FFCFD5;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    #level_two_section .bottom_btn_area__inner.fail{
        background-color: #FF9EAB;
        box-shadow: 0px 4px 0px 0px #D46E7C;
        display: none;
    }

    #level_two_section .bottom_btn_area__inner.fail:active{
        position: relative;
        top: 3px;
    }

    #level_two_section .bottom_btn_area__inner.fail:active{
        background: #FF887C;
        border: 2px solid #FF6B5B; 
        color : #fff;
    }

    
    #level_two_section .blank.collect{
        background-color: #fff;
        box-shadow: 0px 2px 0px 0px #E5E5E5;
        border: 1.5px solid #E5E5E5;
        padding: 0 10px;
    }

    #level_two_section .blank.wrong{
        border: 1.5px solid #D46E7C;
        background: #FF9EAB;
        box-shadow: 0px 2px 0px 0px #D46E7C;
        pointer-events: none;
        padding: 0 10px;
    }

     #level_two_section.success .img_character{
        width: 192px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 100px;
    }
    #level_two_section.success .img_chat{
        position: absolute;
        width: 224px;
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
    }

    #level_two_section.failed .img_chat{
        position: absolute;
        width: 124px;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
    }


    #level_two_section .chips-area{
        padding: 3px;
        display: inline-block;
    }
    #level_two_section .chip {
        width: auto;
        height: 30px;
        border-radius: 8px;
        padding: 4px 10px;
        box-shadow: 0px 2px 0px 0px #E5E5E5;
        font-size: 14px;
        color: #111;
        font-weight: 500;
        border: 1.5px solid #E5E5E5;
        background-color: #fff;
        border: 2px solid transparent;
        /* transition: all 0.4s cubic-bezier(0.1?65, 0.84, 0.44, 1); 부드러운 가속도 */
        opacity: 1;
        transform: scale(1);
        box-shadow: 0px 2px 0px 0px #E5E5E5;
    }

    /* 새로 나타날 때의 효과 (선택 사항) */
    #level_two_section .chips-area.just-added {
        opacity: 1;
        visibility: visible;
        height: auto;
        overflow: auto;
        animation: slideIn 0.4s ease-out;
    }

    #level_two_section .chip:hover {
        position: relative;
        top: 3px;
        border: 2px solid #1CB0F6;
        line-height: 20px;
        color: #0065A2;
        box-shadow: none;
    }
    /* 사용된 칩은 숨김 처리 */
    #level_two_section .chip.hidden {
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    #level_two_section .bottom_btn_area {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }

    #level_two_section .bottom_btn_area__inner {
        width: 100%;
        height: 100%;
        background-color: #E5E5E5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 10px 20px;
        box-shadow: 0px 4px 0px 0px #E5E5E5;

    }

    #level_two_section .bottom_btn_area__inner .bottom_btn_area__txt{
        color: #AFAFAF;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    #level_two_section .bottom_btn_area.fail .bottom_btn_area__inner{
        display: none;
    }
    #level_two_section .bottom_btn_area.fail .bottom_btn_area__inner.fail{
        display: block;
    }
  
    #level_two_section .bottom_btn_area__inner.fail .bottom_btn_area__txt{
        color: #223615;
    }
    #level_two_section .bottom_btn_area.success .bottom_btn_area__inner{
        display: none;
    }
    #level_two_section .bottom_btn_area.success .bottom_btn_area__inner.success{
        display: flex;
    }
    #level_two_section .bottom_btn_area.success .bottom_btn_area__inner.success:active{
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    #level_two_section .bottom_btn_area__inner.success .bottom_btn_area__txt{
        text-align: center;
        color: #111;
    }
    #level_two_section .bottom_btn_area__inner.success{
        background-color: #B1D32C;
        box-shadow: 0px 4px 0px 0px #8DC045;
        display: none;
        height: 54px;
        align-items: center;
        cursor: pointer;
    }
    #level_two_section .bottom_btn_area__inner.success:active{
        background: #8DC045;
        /* border: 2px solid #7aa73b; */
        color: #fff;
    }

    #level_two_section .bottom_btn_area.on .bottom_btn_area__txt{
        color: #FFFFFF;
        font-weight: 600;
        font-size: 18px;
    }
    #level_two_section .bottom_btn_area.on .bottom_btn_area__inner{
        background-color: #1CB0F6;
        box-shadow: 0px 4px 0px 0px #1899D6;
    }
    #level_two_section .blank {
        display: inline-flex;
        min-width: 88px;
        opacity: 1;
        border-radius: 6px;
        /* border: 2px solid #CFCFCF; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #level_two_section .blank::before{
        clear: both;
        content: "";
        display: block;
        width: 100vw;
        height: 1px;
        position: absolute;
        border-bottom: 2px solid #AFAFAF;
        bottom: -8px;
        left: -50%;
    }
    #level_two_section.success .blank{
        pointer-events: none;
    }
    #level_two_section.success .blank::before{
        border-bottom: 2px solid #AFAFAF33;
    }
    #level_two_section.failed .blank::before{
        border-bottom: 2px solid #AFAFAF33;
    }

    #level_two_section .game_card_hint{
        top: 10px;
        z-index: 3;
    }

    .game_card_hint{
        position: absolute; 
        box-sizing: border-box; 
        width: 100%; 
        display: none;
    }

    .game_card_hint__wrap{
        width: 100%; 
        max-width: 360px;
        min-height: 200px; 
        opacity: 1;
        background: #F6F7F7; 
        display: flex; 
        flex-direction: column; padding:1rem; 
        align-items: center; 
        align-items: flex-start;
        border-radius: 8px; gap: .5rem;
        border: 2px solid #BFBFBF;
        box-shadow: 0px 4px 0px 0px #BFBFBF;
        margin: 0 auto;
        border-radius: 20px;
        position: relative;
    }
    .game_card_hint.on{
        display: block;
    }

    #step-4 .img_area img.two{
        margin-top: 120px;
    }


    @media all and (min-width : 600px) {
        #level_two_section .game_card_btn p{
            font-size: 16px;
        }
        #level_two_section .game_card_label{
            font-size: 16px;
        }
        #level_two_section .game_card .text{
            font-size: 22px;
            line-height: 44px;
            height: 44px;
        }
        #level_two_section .chip{
            height: 44px;
            padding: 10px;
            font-size: 22px;
            line-height: 26px;
            border: 1.5px solid #E5E5E5;
            box-shadow: 0px 3px 0px 0px #E5E5E5;
            border-radius: 10px;
        }
        #level_two_section .bottom_btn_area__inner .bottom_btn_area__txt{
            font-size: 24px;
        }
        #level_two_section .chip:hover {
            line-height: 24px;
        }
        #level_two_section.success .img_chat{
            width: auto;
        }
        #level_two_section.success .img_character{
            width: 225px !important;
            margin-top: 0;
            top: 50px;
        }
        #level_two_section.failed .img_chat{
            width: 166px !important;
        }
        #level_two_section .bottom_btn_area.fail .bottom_btn_area__inner{
            height: 70px;
            line-height: 52px !important;
        }
        #level_two_section .game_card_basket.fail.on{
            min-height: 250px;
        }
        #level_two_section .game_card_basket.fail .img_character{
            width: 140px;
            top: 90px;
        }

        #level_two_section .game_card_btn{
            width: 95px !important;
        }


        #level_two_section .bottom_btn_area__inner .bottom_btn_area__txt{
            font-size: 24px !important;
        }
        #level_two_section .bottom_btn_area__inner.success{
            line-height: 50px !important;
        }
        #level_two_section .bottom_btn_area__inner{
            border-radius: 14px !important;
        }
        #level_two_section .bottom_btn_area .bottom_btn_area__inner{
            height: 70px;
            line-height: 52px !important;
        }

        #level_two_section .game_card_basket.on{
            padding: 50px 25px;
            padding-top: 60px;
        }
     
    }