#finaly_common_section .bottom_btn_area{
    width: 340px; display: flex; justify-content: space-between; gap: 10px; margin-top: 100px;
}
#finaly_common_section .choice_sub_key_back__btn__text{
    font-size: 16px;
}
#step-1 .content-inner{
        background-color: #BDEDFD;
        border-radius: 20px;
        padding: 20px;
    }
    #step-1 .title_area{
        text-align: center;
    }
    #step-1 .title_area p{
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
    #step-1 .title_area h2{
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
    }

    #step-1 .image_area{
        text-align: center;
        margin-top: 20px;
    }
    #step-1 .btn_list_area{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 24px;
    }

    #step-1 .btn_area{        
        position: relative;
     
    }

    #step-1 .btn_area__cicle{
        width: 100%;
        height: 20px;
        border-radius: 50%;
        background: #92E3FB;
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: 1;
    }

    #step-1 .btn_area__rectangle{
        width: 100%;
        min-height: 90px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        border-bottom: 4px solid #E5E5E5;
        padding: 16px;
        cursor: pointer;
    }

    #step-1 .btn_area__hor{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
    }
    
    #step-1 .btn_area__img{
        width: 58px;
        height: 58px;
        background-color: #92E3FB;
        border-radius: 16px;
    }
    #step-1 .btn_area__img.v1{
        background: #ff9eab;
    }
    #step-1 .btn_area__img.v2{
        background: #F3C658;
    }
    #step-1 .btn_area__img.v3{
        background: #8BC0F5;
    }
    .btn_area__img img{
        width: 100%;
        height: auto;
    }
    #step-1 .btn_area__text{
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: flex-start;
    }
    #step-1 .btn_area__text h2{
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
    }
    #step-1 .btn_area__text p{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        color: #505050;
        /* letter-spacing: -1.5px; */
        letter-spacing: -2.5%;
    }
    #step-1 .btn_area__arrow{
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
    }

    #step-1 .btn_list_area .btn_area.v1 .btn_area__rectangle:active{
        background: #FDD7DC;
        position: relative;
        top: 2px;
        border-bottom : 0;
    }
    #step-1 .btn_list_area .btn_area.v2 .btn_area__rectangle:active {
        background: #FDEBBF;
        position: relative;
        top: 2px;
        border-bottom : 0;
    }
    #step-1 .btn_list_area .btn_area.v3 .btn_area__rectangle:active {
        background: #D6E9F9;
        position: relative;
        top: 2px;
        border-bottom : 0;
    }

    #step-2 .content-inner{
        background: #BDEDFD99;
        border-radius: 20px;
        max-height: 750px;
        border: 2px solid #E5E5E5;
    }
    #step-2 .top_area{
        width: 100%;
        height: 160px;
        padding: 20px;
        position: relative;
        overflow: hidden;

    }
    #step-2 .top_area .char{
        width: 120px;
        height: auto;
        position: absolute;
        bottom: -30px;
        left: 25px;
    }

    #step-2 .top_area .range{
        /* width: 230px;
        height: auto;
        position: absolute;
        bottom: 60px;
        left: 30%; */
        width: 188px;
        height: 75px;
        position: absolute;
        top: 20px;
        left: 38%;
        border-radius: 12px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #step-2 .top_area .range > p {
        font-family: Pretendard;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -2.5%;
        color: #111111;
    }
    .back__arrow{
        width: 36px;
        height: 38px;
        background-color: #fff;
        border-radius: 8px;
        color: #AFAFAF;
        border: 2px solid #E4E5E5;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: 0px 2px 0px 0px #E5E5E5;
    }
    .back__arrow svg{
        stroke-width: 2.5;
    }
    .back__arrow:active{
        position: relative;
        top: 3px;
    }
    #step-2 .bto_area{
        width: 100%;
        background-color: #fff;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid #E5E5E5;
        border-right: 0;
        border-left: 0;
        
    }
    #step-2 .bto_area .bto_area__wrap{
        height: auto;
        max-height: 600px;
        padding: 32px 29px;
        flex-wrap: wrap;
        display: flex;
    }
    #step-2 .bto_area .btn{
        width: 60px;
        height: 60px;
        background-color: #f6f7f7;
        border-radius: 14px;
        border: 4px solid #E4E5E5;
        box-shadow: 0px 4px 0px 0px #00000040;
        margin-right: 17.6px;
        margin-bottom: 17.6px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    #step-2 .bto_area .btn:nth-child(4n){
        margin-right: 0;
    }

    #step-2 .bto_area .btn:nth-child(4n){
        margin-right: 0;
    }
    

    #step-2 .bto_area  .btn:active{
        background: #84D8FE;
        border: 4px solid #1CB0F5;
        box-shadow: 0px 4px 0px 0px #1584B8;
        position: relative;
        top: 3px;
        color: #0065A2;
    }
    #step-2 .bto_area  .btn:active .btn__text{
        color: #1CB0F5;
    }
    #step-2 .bto_area .btn__text{
        font-weight: 700;
        font-size: 32px;
        color: #CBCCCC;
        text-align: center;
        line-height: 1;
        letter-spacing: -1.5px;
    }

    @media all and (min-width : 670px) {
        #step-2 .bto_area__wrap .btn{
            margin-right: 24px !important;
            margin-bottom: 24px !important;
        }
        #step-2 .bto_area__wrap .btn:nth-child(4n){
            margin-right: 24px !important;
        }   
        #step-2 .bto_area__wrap .btn:nth-child(6n){
            margin-right: 0 !important;
        }
        #step-2 .bto_area .btn__text{
            font-size: 44px !important;
            font-weight: 700 !important;
        }
        #step-1 .content-inner{
            padding:  30px !important;
        }
        .content-inner {
            max-width : 680px;
            max-height: 800px;
        }
        #step-1 .title_area p{
            font-size: 24px !important;
        }
        #step-1 .image_area{
            width : 220px;
            height : auto;
            margin : 0 auto;
            margin-top: 15px;
        }
        #step-1 .image_area img{
            width : 100%;
        }
        #step-1 .title_area h2{
            font-size: 32px !important;
            margin-top: 8px;
        }
        #step-1 .btn_area__text p{
            font-size: 16px;
        }
        #step-1 .btn_area__text p br{
            display: none;
        }
        #step-1 .btn_area__rectangle{
            min-height: 106px !important;
            border-radius: 22px !important;
            padding : 16px !important;
        }
        #step-1 .btn_list_area{
            margin-top: 20px;
        }
        #step-1 .btn_area__img{
            width : 70px !important;
            height : 70px !important;
        }
        #step-1 .btn_area__text h2{
            font-size: 20px !important;
        }
        #step-1 .btn_area__text p{
            font-size : 16px !important;
        }
        #step-2 .top_area .range{
            width: 100% !important;
            max-width: max-content;
            left : 30% !important;
            padding: 0 32px;
        }
        #step-2 .top_area .range > p{
            font-size: 20px !important;
        }
        #step-2 .top_area .range > p span{
            font-size: 22px !important;
            color: #0076E4;
        }
        #step-2 .top_area .range br{
            display: none;
        }
        #step-2 .top_area .char{
            width: 140px !important;
        }
        #step-2 .bto_area .btn{
            width: 80px !important;
            height: 80px !important;
        }
        #step-2 .bto_area{
            width: 100%;
        }
        #step-2 .bto_area .bto_area__wrap{
            width: 100%;
            max-width: 600px;
            padding: 0 !important;
            margin : 0 auto;
            margin-top: 48px;
            margin-bottom: 40px;
        }
    }

    #step-3 .content-inner{
        background: #BDEDFD99;
        border-radius: 20px;
        max-height: 750px;
        border: 2px solid #E5E5E5;
    }
    #step-3 .back_btn{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    #step-3 .top_area{
        width: 100%;
        height: 160px;
        padding: 20px;
        position: relative;
        overflow: hidden;
    }
    #step-3 .top_area .char{
        width: 140px;
        height: auto;
        position: absolute;
        bottom: -20px;
        left: 15px;
        z-index: 3;
    }

    /* #step-3 .top_area .range{
        width: 178px;
        height: auto;
        position: absolute;
        bottom: 20px;
        left: 29%;
    } */
    #step-3 .top_area .range{
        /* width: 230px;
        height: auto;
        position: absolute;
        bottom: 60px;
        left: 30%; */
        width: 188px;
        height: 75px;
        position: absolute;
        top: 60px;
        left: 40%;
        border-radius: 12px;
        background-color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        top: 3px;
    }
    #step-3 .top_area .range > p {
        font-family: Pretendard;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -2.5%;
        color: #111111;
        padding-left: 20px;
    }

    #step-3 .rang_switch{
        display: flex;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    #step-3 .rang_switch p {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -2.5%;
        margin-right: 6px;
        padding-top: 2px;
        color: #505050;
    }

    #step-3 .rang_switch.off .bar{
        background-color: #1CB0F5;
    }

    #step-3 .rang_switch.off .bar__ball{
        
        border: 1.5px solid #1CB0F5;
        box-shadow: 0px 1.5px 0px 0px #1CB0F5;
    }
    #step-3 .rang_switch .bar{
        width: 40px;
        height: 20px;
        background-color: #E4E5E5;
        border-radius: 10px;
        position: relative;
    }
    #step-3 .bar__ball{
        width: 24px;
        height: 24px;
        border-radius: 6px;
        background-color: #fff;
        border-color: #E4E5E5;
        box-shadow: 0px 1.5px 0px 0px #E4E5E5;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        transition: left 0.3s ease;
    }
    #step-3 .rang_switch.off .bar__ball{
        left: 16px;
    }

    #step-3 .bto_list{
        background-color: #F6F7F7;
        padding: 31px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        max-height: 600px;
        padding-top: 16px;
    }
    #step-3 .bto_area{
        width: 100%;
        height: auto;
        background-color: #F6F7F7;
    }
    #step-3 .bto_area .bto_area__wrap{
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        margin: 0 auto;
    }
    #step-3 .bto_area .btn{
        width: 44px;
        height: 44px;
        background-color: #fff;
        border-radius: 8px;
        border: 2px solid #E4E5E5;
        box-shadow: 0px 4px 0px 0px #E4E5E5;
        margin-right: 16.8px;
        margin-bottom:  16.8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        font-weight: 600;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: -2.5%;
        text-align: center;
        vertical-align: middle;
        color: #CBCCCC;

    }
    #step-3 .bto_area  .btn:active{
        background: #84D8FE;
        border: 2px solid #1CB0F5;
        box-shadow: 0px 4px 0px 0px #1584B8;
        position: relative;
        top: 3px;
    }
    #step-3 .bto_area  .btn:active .btn__text{
        color: #1CB0F5;
    }
    #step-3 .bto_area  .btn:nth-child(5n){
        margin-right: 0;
    }
    #step-3 .bto_area .btn.on{
        background: #84D8FE;
        border: 2px solid #1CB0F5;
        box-shadow: 0px 4px 0px 0px #1584B8;
        position: relative;
        top: 3px;
        color: #0065A2;
    }

    #step-3 .bto_area .btn.on .btn__text{
        color: #1CB0F5;
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    #step-3 .bto_area .btn__text{
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #CBCCCC;
        text-align: center;
        line-height: 1;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
    #step-3 .select_btn{
        width: 100%;
        height: 40px;
        background-color: #E5E5E5;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 0px 0px #E5E5E5;
        transition: all 0.3s ease;
        margin-top: 16px;
    }

    #step-3 .select_btn p{
        font-weight: 600;
        font-size: 16px;
        letter-spacing: -2.5%;
        color: #afafaf;
    }

    #step-3 .select_btn.on{
        background: #1CB0F6;
        box-shadow: 0px 4px 0px 0px #1899D6;
        cursor: pointer;
    }
    #step-3 .select_btn.on p {
        color: #fff;
    }

    #step-3 .select_btn.on:active{
        position: relative;
        top: 3px;
    }

    #step-3 .bto__title_area{
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    #step-3 .bto__title_area p{
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -2.5%;
        color: #1CB0F6;
    }
    @media all and (min-width : 675px) and (max-width : 720px) {
        #step-3 .bto_area .bto_area__wrap{
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    @media all and (min-width : 720px) {
        #step-3 .top_area .range{
            width: 100%;
            max-width: max-content;
            padding: 0 32px;
            left: 29%;
        }
        #step-3 .top_area .char{
            width: 150px !important;
        }
        #step-3 .top_area .range > p{
            padding: 0 !important;
            font-size: 20px !important;
        }
        #step-3 .top_area .range > p span{
            font-size: 22px !important;
            color: #0076E4;
        }
        #step-3 .top_area .range > p br{
            display : none;
        }
        #step-3 .bto_area .bto_area__wrap{
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            margin-top: 20px;
        }
        #step-3 .bto_area .btn{
            width: 56px !important;
            height: 56px !important;
            margin-right: calc(152px / 7) !important;
            margin-bottom: calc(152px / 7) !important;
            font-size: 26px !important;
            font-weight: 700;
        }
        #step-3 .bto_area .btn:nth-child(5n){
            margin-right: calc(152px / 7) !important;
        }

        #step-3 .bto_area .btn:nth-child(8n){
            margin-right: 0 !important;
        }

        #step-3 .bto_list{
            padding: 20px;
        }

        #step-3 .select_btn{
            height: 70px !important;
        }

        #step-3 .select_btn p{
            font-size: 24px !important;
        }

        #step-3 .bto__title_area p{
            font-size: 18px !important;
        }

        #step-3 .rang_switch p{
            font-size: 16px !important;
        }
    }


    
    #step-4 .bto_list{
        background-color: #F6F7F7;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        max-height: 500px;
        max-width: 355px;
        margin: 0 auto;
        margin-top: 60px;
    }
    #step-4 .bto_area{
        width: 100%;
        height: auto;
        background-color: #F6F7F7;
        display: flex;
        flex-wrap: wrap;
    }
    #step-4 .bto_area .select_btn{
        width: 100%;
        height: 54px;
        background-color: #E5E5E5;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 0px 0px #E5E5E5;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    #step-4 .bto_area .select_btn p{
        font-weight: 600;
        font-size: 16px;
        letter-spacing: -2.5%;
        color: #afafaf;
    }

    #step-4 .bto_area .select_btn.on{
        background: #1CB0F6;
        box-shadow: 0px 4px 0px 0px #1899D6;
    }

    #step-4 .bto_area .select_btn.on:active{
        position: relative;
        top: 3px;
    }
    #step-4 .bto_area .select_btn.on p {
        color: #fff;
    }

    #step-4 .bto__title_area{
        width: 100%;
        margin-bottom: 48px;
        justify-content: space-between;
    }
    #step-4 .bto__title_area p{
        font-family: Pretendard;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: -2.5%;
        text-align: center;
        color: #131313;
    }

    #step-4 .img_area{
        width: 100%;
        max-width: 175px;
        margin: 0 auto;
        height: auto;
        margin-bottom: 40px;
    }
    #step-4 .img_area img{
        position: relative;
        z-index: 3;
    }
    #step-4 .img_area .img_area__circle{
        width: 260px;
        margin: 0 auto;
        border-radius: 50%;
        height: 27px;
        background-color: #D7F4FE;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -15px;
        
    }
    #step-4 .img_area img{
        width: 100%;
        height: auto;
    }
    #step-4 .img_area__char{
        display: none;
    }
    #step-4 .img_area__char.one{
        display: block;
    }

    @media all and (min-width:600px) {
        #step-4 .bto__title_area p{
            font-size: 32px !important;
        }

        #step-4 .img_area{
            max-width: 175px !important;
        }

        #step-4 .bto_area .select_btn p{
            font-size: 24px !important;
        }

        #step-4 .bto_area .select_btn{
            height: 70px !important;
            border-radius: 14px;
        }
        #step-4 .bto_list{
            max-width: 600px !important;
        }

        #level_one_section.success .game_card .text.filled{
            padding: 0 15px;
        }
        
        #level_one_section .bottom_btn_area__inner{
            height: 70px !important;
        }
    }

    #step-5 .content-inner{
        padding: 20px;
    }

    .game_game_top_area{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .game_gaze_bar__area{
        width: 100%;
        height: 20px;
        position: relative;
        display: none;
    }
    .game_gaze_bar__area.on{
        display: block;
    }
    .game_gaze_bar__circle{
        width: 43px;
        height: 43px;
        background-color: #A8DCFF;
        border-radius: 50%;
    }
    .game_gaze_bar__bar{
        width: 98%;
        height: 20px;
        border-radius: 10px;
        background-color: #E5E5E5;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .game_gaze_bar__progress_circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        z-index: 9;
    }
    .game_gaze_bar__progress_circle img.finish{
        display: none;
    }
    .game_gaze_bar__progress_bar{
        width: 0%;
        height: 100%;
        padding: 0 8px;
        border-radius: 10px;
        background-color: #1CB0F5;
        position: absolute;
        transition: width 0.5s ease;
    }

    .game_gaze_bar__progress_bar--point{
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: #8DD7FA;
        margin-top: 4px;
    }

    #level_one_section .game_card_area{
        margin-top: 80px;
        position: relative;
    }

    #level_one_section .game_card_label{
        position: absolute;
        left: 0;
        top: -40px;
        z-index: -1;
        background-color: #1CB0F6;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 600;
        min-width: 100px;
        padding: 0 15px;
        line-height: 40px;
        min-height: 50px;
        color: #fff;
    }

    #level_one_section .game_card_btn{
        position: absolute; top: -40px; right: 0; width: 83px; height: 36px; border: 2px solid #E5E5E5; border-radius: 8px; box-shadow: 0px 2px 0px 0px #E5E5E5; display: flex; align-items: center; justify-content: center;
        display: none;
    }

    #level_one_section .game_card_btn.error.active{
        background-color: #CBCCCC;
    }

    #level_one_section .game_card_btn.on{
        display: flex;
    }

    #level_one_section .game_card{
        width:100%; 
        background-color: #fefefe; 
        border-radius: 16px;
        border-top-left-radius: 0;
        display: flex;
        border: 2px solid #E5E5E5;
        flex-wrap: wrap;
        gap: 6px;
        padding: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
        align-content: flex-start;
        position: relative;
        z-index: 2;
        box-shadow: 0px 10px 0px 0px #1CB0F626;
    }

    #level_one_section .game_card_basket_line{
        display: none;
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 150px;
        /* 이 높이는 game_card 높이와 동일해야 함 js로 처리할 예정 */
        background-color: #000;
        z-index: 1;
        opacity: 0.1;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    #level_one_section .game_card .text{
        height: 30px;
        line-height: 30px;
    }
    #level_one_section .game_card .text.filled{
        padding: 0 15px;
    }

    #level_one_section .game_card .text.blank.active{
        border: 2px solid #1CB0F6;
    }
    #level_one_section .game_card{
        padding-left: 26px;
        padding-right: 26px;
    }
    #level_one_section .game_card_basket{
        background-color: #D7F4FE;
        width: 100%;
        height: 0;
        overflow: hidden;
        border-radius: 16px;
        transform: translateY(0);
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #level_one_section .game_card_basket .center{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4px;
        margin-bottom: 4px;
    }
    #level_one_section .game_card_basket.on{
        transform: translateY(-10px);
        opacity: 1;
        height: auto;
        visibility: visible;
        padding: 30px;
        padding-top: 40px;
        position: relative;
    }
    
    #level_one_section .game_card_basket.fail{
        border-top-right-radius: 0;
        background-color: #FFCFD5;
        position: relative;
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        padding: 0;
        min-height: 0;
    }
    #level_one_section .game_card_basket.fail.on{
        opacity: 1;
        visibility: visible;
        height: auto;
        padding: 15px;
        min-height: 180px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    #level_one_section .game_card_basket.fail .img_character{
        width: 100px;
        height: auto;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }

    #level_one_section.success .game_card{
        background-color: #F6FFD0;
        border: 2px solid #B1D32C;
        box-shadow: 0px 10px 0px 0px #8DC04540;
    }
    #level_one_section.success .game_card_basket{
        background-color: #D4E980;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    #level_one_section.success .game_card_basket.on{
        min-height: 230px;
    }
    #level_one_section.success .game_card_label{
        background-color: #B1D32C;
        color: #333;
    }

    #level_one_section.success .game_card .text.filled{
        background: #FFFFFF;
        border: 1.5px solid #E5E5E5;
        box-shadow: 0px 2px 0px 0px #E5E5E5;
    }

    #level_one_section.failed .game_card_label{
        background-color: #FF9EAB;
        color: #333;
    }
    #level_one_section.failed .game_card{
        background-color: #FFE7EA;
        box-shadow: 0px 10px 0px 0px #FF9EAB66;
        border: 4px solid #FF9EAB;
    }
    #level_one_section.failed .game_card_basket{
        background-color: #FFCFD5;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    #level_one_section .bottom_btn_area__inner.fail{
        background-color: #FF9EAB;
        box-shadow: 0px 4px 0px 0px #D46E7C;
        display: none;
        cursor: pointer;
    }

    #level_one_section .bottom_btn_area__inner.fail:active{
        background: #FF887C;
        border: 2px solid #FF6B5B; 
        color : #fff;
    }

    #level_one_section .blank.collect{
        background-color: #fff;
        box-shadow: 0px 2px 0px 0px #E5E5E5;
        border: 1.5px solid #E5E5E5;
    }
    #level_one_section .blank.wrong{
        border: 1.5px solid #D46E7C;
        background: #FF9EAB;
        box-shadow: 0px 2px 0px 0px #D46E7C;
        pointer-events: none;
    }

     #level_one_section.success .img_character{
        width: 112px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
    }
    #level_one_section.success .img_chat{
        position: absolute;
        width: 124px;
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
    }

    #level_one_section.failed .img_chat{
        position: absolute;
        width: 124px;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
    }


    #level_one_section .chips-area{
        padding: 3px;
        display: inline-block;
    }
    #level_one_section .chip {
        width: auto;
        height: 30px;
        border-radius: 8px;
        padding: 4px 10px;
        box-shadow: 0px 2px 0px 0px #E5E5E5;
        font-size: 14px;
        color: #111;
        font-weight: 500;
        border: 1.5px solid #E5E5E5;
        background-color: #fff;
        /* transition: all 0.4s cubic-bezier(0.1?65, 0.84, 0.44, 1); 부드러운 가속도 */
        opacity: 1;
        transform: scale(1);
        box-shadow: 0px 2px 0px 0px #E5E5E5;
    }

    /* 새로 나타날 때의 효과 (선택 사항) */
    #level_one_section .chips-area.just-added {
        opacity: 1;
        visibility: visible;
        height: auto;
        overflow: auto;
        animation: slideIn 0.4s ease-out;
    }

    #level_one_section .chip:hover {
        transform: translateY(-2px);
        border: 2px solid #1CB0F6;
        line-height: 20px;
        color: #0065A2;
        box-shadow: none;
    }
    /* 사용된 칩은 숨김 처리 */
    #level_one_section .chip.hidden {
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    #level_one_section .bottom_btn_area {
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

    #level_one_section .bottom_btn_area__inner {
        width: 100%;
        height: 54px;
        background-color: #E5E5E5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 0px 4px 0px 0px #E5E5E5;
        cursor: pointer;
    }

    #level_one_section .bottom_btn_area__inner:active{
        position: relative;
        top: 3px;
    }

    #level_one_section .bottom_btn_area__inner .bottom_btn_area__txt{
        color: #AFAFAF;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    #level_one_section .bottom_btn_area.fail .bottom_btn_area__inner{
        display: none;
    }
    #level_one_section .bottom_btn_area.fail .bottom_btn_area__inner.fail{
        display: block;
        line-height: 34px;
    }
  
    #level_one_section .bottom_btn_area__inner.fail .bottom_btn_area__txt{
        color: #223615;
    }
    #level_one_section .bottom_btn_area.success .bottom_btn_area__inner{
        display: none;
    }
    #level_one_section .bottom_btn_area.success .bottom_btn_area__inner.success{
        display: block;
    }

    #level_one_section .bottom_btn_area__inner.success .bottom_btn_area__txt{
        text-align: center;
        color: #111;
    }
    #level_one_section .bottom_btn_area__inner.success{
        background-color: #B1D32C;
        box-shadow: 0px 4px 0px 0px #8DC045;
        display: none;
        line-height: 34px;
    }
    #level_one_section .bottom_btn_area__inner.success:active{
        background: #8DC045;
        border: 2px solid #7aa73b;
        color: #fff;
    }

    #level_one_section .bottom_btn_area.on .bottom_btn_area__txt{
        color: #FFFFFF;
        font-weight: 600;
        font-size: 18px;
    }
    #level_one_section .bottom_btn_area.on .bottom_btn_area__inner{
        background-color: #1CB0F6;
        box-shadow: 0px 4px 0px 0px #1899D6;
    }
    #level_one_section .blank {
        display: inline-flex;
        min-width: 84px;
        opacity: 1;
        height: 30px;
        border-radius: 8px;
        border: 1.5px solid #E5E5E5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .game_section.off{
        display: none;
    }
    #finaly_common_section{
        display: none;
        margin-top: 80px;
    }
    #finaly_common_section.on{
        display: block;
    }

    .choice_sub_key_back__btn{
        width: 50%;
        height: 54px;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 4px 0px 0px #E5E5E5;
        color: #505050;
        box-sizing: border-box;
    }
    .choice_sub_key_back__btn:active{
        position: relative;
        top: 3px;
    }
    .choice_sub_key_back__btn.on{
        cursor: pointer;
        background-color: #1CB0F6;
        box-shadow: 0px 4px 0px 0px #1899D6;
    }
    .choice_sub_key_back__btn__text{
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #A8A8A8;
        text-shadow: none;

    }
    .choice_sub_key_back__btn__text {
        color: #505050;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .choice_sub_key_back__btn_v2 .choice_sub_key_back__btn__text{
        color: #fff;
    }
    .choice_sub_key_back__btn_v2{
        width: 50%;
        height: 52px;
        border-radius: 8px;
        gap: 10px;
        padding-top: 14px;
        padding-right: 16px;
        padding-bottom: 14px;
        padding-left: 16px;
        background: #2FABFF;
        box-shadow: 0px 4px 0px 0px #1899D6;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choice_sub_key_back__btn_v2:active{
        position: relative;
        top: 3px;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    @media all and (min-width : 600px) {
        #level_one_section .game_card_label{
            font-size: 16px;
        }
        #level_one_section .game_card .text{
            font-size: 22px;
            line-height: 44px;
            height: 44px;
            
        }
        #level_one_section .chip{
            height: 44px;
            padding: 10px;
            font-size: 22px;
            line-height: 26px;
        }
        #level_one_section .bottom_btn_area__inner .bottom_btn_area__txt{
            font-size: 24px !important;
        }
        #level_one_section .chip:hover {
            line-height: 24px !important;
        }
        #level_one_section.success .img_chat{
            width: 147px !important;
        }
        #level_one_section .bottom_btn_area__inner.success{
            line-height: 50px !important;
        }
        #level_one_section .bottom_btn_area__inner{
            border-radius: 14px !important;
        }
        #level_one_section.success .img_character{
            width: 167px !important;
            top: 90px !important;
        }
        #level_one_section.failed .img_chat{
            width: 166px;
        }
        #level_one_section .bottom_btn_area.fail .bottom_btn_area__inner{
            height: 70px;
            line-height: 52px !important;
        }
        #level_one_section .game_card_basket.fail.on{
            min-height: 250px;
        }
        #level_one_section .game_card_basket.fail .img_character{
            width: 140px;
            top: 90px;
        }
        #finaly_common_section .bottom_btn_area{
            width: 100% !important;
        }
        .choice_sub_key_back__btn{
            height: 70px !important;
        }
        .choice_sub_key_back__btn_v2{
            height: 70px !important;
            border-radius: 14px !important;
        }
        .choice_sub_key_back__btn{
            border-radius: 14px !important;
        }
        #finaly_common_section .choice_sub_key_back__btn__text{
            font-size: 24px !important;
        }
    }